body{
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #1B2638;
}


#bgVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
.bottomMenu{

    margin: 0 20px;

}

.bottomIconsRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}
.bottomMenu span{


    font-size: 20px;
    cursor: pointer;
}
#local-video{
    position: fixed;
    top: 0;
    right: 10px;
    width: 150px;
    height: 100px;
    margin-top: 12px;
}
#local-video video{
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
}

.bottomSection{
    position: absolute;
    bottom: -65px;
    width: 100%;
    transition: all 0.5s linear;
    height: 66px;
}
.bottomSection .otherUsers-video{
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    right: 10px;
    position: absolute;
    bottom: 105px;
    transition: all 0.5s linear;
    height: calc(100vh - 158px);
    overflow: auto;
    opacity: 0;
 }
.bottomSection .otherUsers-video::-webkit-scrollbar {
    width: 4px;
    display: none;
}


.bottomSection .otherUsers-video .otherUser-videoBox{
    width: 150px;
    height: 100px;
    margin-bottom: 8px;
    position: relative;

 }
.smallVideo .name-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(6,6,6,0.5);

}
.smallVideo .name-box p{
    text-align: center;
    line-height: 100px;
    margin: 0;
    color: white;
}
.smallVideo .icons-box{
    position: absolute;
    display: flex;
    color: white;
    bottom: 5px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.bottomSection .otherUsers-video .otherUser-videoBox video{
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;

 }
#HoverBox{
    width: 100%;
    height: 0;
     position: absolute;
    bottom: 0;
    transition: all 0.5s linear;
    background-image: -moz-linear-gradient(#e8e8e800, #0202028f);
    background-image: -webkit-linear-gradient(#e8e8e800, #0202028f);
    background-image: linear-gradient(#e8e8e800, #0202028f);
 }

.mouse-move .bottomSection{
    bottom: 0;
 }
.mouse-move .bottomSection .otherUsers-video{
opacity: 1;
    height: calc(100vh - 225px);
}

#pullRight{
    position: absolute;
    cursor: pointer;
    bottom: 53px;
    right: 16px;
    padding: 5px;
    color: white;
    margin-bottom: 17px;
    transition: all 0.5s linear;
}

.smallVideo{
    transition: all 0.5s linear;
}
.smallVideo.PullRight{
    right: -150px!important;
}
#pullRight.rotate{
    transform: rotate(180deg);
}

.bottomIconsRow .sideIcons span {
    font-size: 21px;

}

.bottomIconsRow .centerIcons span.icon-phone-call-1 {
   color: red;
}
.centerIcons{
    display: flex;
}

.circleIcon{
    position: relative;
    background-color: white;
    border-radius: 50%;
    padding: 10px 12px;
    color: #5e6d7a;
    margin: 0 9px;
}
.dropdownIconBox{
    position: absolute;
    bottom: -3px;
    right: -8px;
    background-color: white;
    border-radius: 50%;
    padding: 1px 4px;
    transform: rotate(90deg);
    box-shadow: 0 0 5px black;
}
.dropdownIconBox span{

    color: #5e6d7a;
    font-size: 12px;
    font-weight: bolder;

}
.sideIcons span {
    margin: 0 7px;
    color: white;
}

.Iconphone{
background-color: red!important;
    transform: rotate(135deg);
}
.Iconphone .icon-phone-call{
color: white!important;
}
#HoverBox.mouse-move{
    height: 150px;
}
#chat-box{
    width: 375px;
    height: 100vh;
    background-color: #5e6d7a;
    position: absolute;
    top: 0;
    left: -375px;
}

#main-container.open-chatBox #video-box{
    position: relative;
    width: calc(100% - 375px);
}
#main-container.open-chatBox #chat-box{
    left: 0;
}